<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="children">
      <ion-icon name="accessibility"></ion-icon>
      Niños
    </ion-tab-button>
    <ion-tab-button tab="people">
      <ion-icon name="people"></ion-icon>
      Adultos
    </ion-tab-button>
    <ion-tab-button tab="resources">
      <ion-icon name="cube"></ion-icon>
      Recursos
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      Configuración
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>