ion-thumbnail {
  border-radius: 50%;
  overflow: hidden;
  padding: 5px 0;
}

.add {
  bottom: 5px;
  right: 5px;
}

.refesh {
  bottom: 5px;
  left: 5px;
}

.ion-content-scroll-host::before,
.ion-content-scroll-host::after {
  position: absolute;
  
  width: 1px;
  height: 1px;
  
  content: "";
}

.ion-content-scroll-host::before {
  bottom: -1px;
}

.ion-content-scroll-host::after {
  top: -1px;
}