<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Niños </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-button fill="solid" color="primary" (click)="presentAddChildAlert()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-accordion-group>
    <ion-accordion
      *ngFor="let child of children; let index = index"
      [value]="index"
    >
      <ion-item slot="header" color="light" lines="none">
        <ion-thumbnail slot="start">
          <img alt="foto" [src]="child.foto" loading="lazy" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2>{{ child.nombres }} {{ child.apepat }} {{ child.apemat }}</h2>
          <p>{{ child.edad }} años</p>
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Fecha de Nacimiento: {{ child.fecha_nac }}</p>
        <p>Deseo: {{ child.deseo }}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
