<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Niños</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-button
    color="secondary"
    fill="outline"
    shape="round"
    class="add"
    (click)="openFormChild()"
    ><ion-icon slot="start" name="add-circle-outline"></ion-icon>Registrar
    Niño</ion-button
  >


  <div class="ion-content-scroll-host ion-padding">
  </div>
</ion-content>