@import "../../theme/variables.scss";

.para{
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 70px;
}
.input-item {
  padding-left: 20px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #e2e2e2;
  height: 70px;
  ion-input {
    margin-top: -12px;
  }
}
.ion-item {
  margin-top: 20px;
}
.login-button {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-top: 60px;
}

ion-footer {
    display: block;
    // position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
}
.copyright{
    color: $text_gold_color;
    text-align: center;
}    

.item_inner {
  border-style: none !important;
}
ion-item {
  --border-width: 0;
}
