<ion-header>
  <ion-toolbar>
    <ion-title>{{ !nuevo ? "Editar Registro" : "Nuevo Registro" }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="step-indicator">
      <div
        class="step"
        *ngFor="let step of steps; let i = index"
        [class.active]="i < currentStep"
        [class.clickable]="i <= currentStep"
        (click)="goToStep(i + 1)"
      >
        <div class="circle">{{ i + 1 }}</div>
        <div class="label">{{ step }}</div>
      </div>
    </div>

    <div class="content-between">
      <div *ngIf="currentStep === 1" class="photo-section">
        <ion-thumbnail
          *ngIf="nino.foto"
          (click)="capturePhoto()"
          class="photo-container"
        >
          <img [src]="nino.foto" alt="Foto del nino" class="photo-image" />
          <div class="photo-indicator">Toca para cambiar la foto</div>
        </ion-thumbnail>

        <ion-thumbnail
          *ngIf="!nino.foto"
          (click)="capturePhoto()"
          class="photo-container"
        >
          <img
            src="assets/images/camara-fotografica.png"
            alt="Foto"
            class="photo-image"
          />
          <div class="photo-indicator">Toca para agregar foto</div>
        </ion-thumbnail>
      </div>
    </div>

    <div class="button-container">
      <ion-button
        expand="block"
        (click)="goBack()"
        [disabled]="currentStep === 1"
      >
        <ion-icon name="arrow-back" slot="start"></ion-icon>
        Atrás
      </ion-button>
      <ion-button expand="block" (click)="goNext()">
        {{ currentStep === steps.length ? "Aceptar" : "Siguiente" }}
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
