@import "../../theme/variables.scss";

.initPage {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  animation: disappear 3s forwards ease-in-out;

  div {
    text-align: center;

    img {
      width: 40%;
    }

    h2 {
      color: $text_gold_color;
    }
  }
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  &.visible {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
